:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.6vw;
  --font-size-subheading: 1.5vw;
  --font-size-bodytext: 1.2vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .contact-form-page {
    display: flex;
    flex-direction: row;
  }

  .contact-form-navigation {
    width: 22vw;
    height: 109.6vh;
    background-color: var(--blue);
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-grundfos {
    font-family: var(--logo-fonts);
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    color: var(--white);
    margin: 0vh 0px;
    margin-top: 2vh;
  }

  .logo-kollegiet {
    font-family: var(--logo-fonts);
    font-weight: lighter;
    font-size: 2vw;
    letter-spacing: 0.69vw;
    color: var(--white);
    margin: -0.5vw 0.1vw;
  }

  .contact-form-content {
    width: 80vw;
    background-color: var(--white);
  }
  .contact-form-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-form-heading {
    display: block;
    justify-content: center;
    font-family: var(--body-fonts);
    font-size: var(--font-size-heading);
    font-weight: 500;
    letter-spacing: 0.1vw;
    text-align: center;
    flex: 1;
    margin-bottom: 1.5vw;
  }

  .contact-form-search-icon {
    width: 2.8vw;
  margin-right: 2vw;
  }

.contact-form-description {
  display: block;
    /*margin: 2vw 0vw;
    margin-left: 20vw;
    max-width: 30vw;*/
    flex: 1;
    justify-content: center;
    margin-left: 9.5vw;
    margin-top: 5vh;
}

  .contact-form-text {
    font-family: var(--body-fonts);
    font-size: var(--font-size-bodytext);
    letter-spacing: 0.11vw;
    margin-left: 5vw;
    width: 44vw;
    justify-content: center;
    text-align: center;
  }

  .profile-icon {
    width: 22vw;
    height: 22vh;
    margin-top: 6vh;
    display: block;
    justify-content: center;
    margin-left: 25.1vw;
  }

  .scan-chip-text {
    font-size: 2.2vw;
    font-family: var(--body-fonts);
    justify-content: center;
    margin-left: 27.5vw;
  }

  .log-button {
    margin-left: 30.2vw;
    margin-top: 12vh;
  }

  .log-btn {
    border-radius: 20px;
    border: 1.5px solid;
    background-color: transparent;
    border-color: #eba10c;
    text-align: center;
    text-decoration: none;
    color: #eba10c;
    font-family: var(--body-fonts);
    display: inline-block;
    padding: 11px 28px;
    font-size: 16px;
    box-shadow: 0px 4px 5px rgba(140, 144, 144, 0.4);
  }

  .scan-text {
    font-size: 2vw;
    font-family: var(--body-fonts);
    justify-content: center;
    margin-left: 33.5vw;
    margin-top: 8vh;
  }

  .arrow {
    margin-left: 33.7vw;
    
  }

  .arrow {
    width: 76px;
    height: 74px;
    margin-left: 16.8vw
  }

  .bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  /* LOG IN SECTION */

  .profile-icon1 {
    width: 28vw;
    height: 28vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: block;
    justify-content: center;
    margin-left: 24vw;
  }

  .formbox {
    margin-left: 18.6vw;
  }

  .form-box {
    margin-right: 50vw;
  }

  .formbox form input[type=email], input[type=password]  {
    display: block;
    margin-top: 28px;
    width: 38vw;
    line-height: 50px;
    font-size: var(--font-size-bodytext);
    font-family: var(--body-fonts);
  }

  .formbox form input[type=password] {
    margin-bottom: 12vh;
  }

  input[type=email], input[type=password] {
    border: 2px solid var(--black);
    border-radius: 6px;
    padding-left: 1.1vw;
    color: #000000;
  }

  input[type=password] {
    font-size: var(--font-size-bodytext);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  input[type=button] {
    
    display: block;
    margin-top: 10vh;
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 16px 60px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 16px;
    box-shadow: 0px 4px 5px rgba(140, 144, 144, 0.4);
  }

  .log-btn1 {
    margin-left: 13.6vw;
  }

  .help-icon {
    width: 2.8vw;
  margin-right: 2vw;
  }

  .help-icon1 {
    margin-left: 75vw;
  }