:root {
    --blue: #10828c;
    --orange: #eba10c;
    --white: #ffffff;
    --black: #000000;
    --light-grey: #efefef;
    --light-blue: #aacfd3;
    --light-orange: rgba(235, 161, 12, 0.75);
    --medium-blue: #4ca1a9;
    --dark-grey: #676464;
    --body-fonts: "Roboto";
    --logo-fonts: "Sansation", sans-serif;
    --font-size-heading: 2.9vw;
    --font-size-nav: 50px;
    --font-size-nav-active: 60px;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

/*navigation styles*/
.navigation {
    width: 20vw;
    height: 100vh;
    background-color: var(--blue);
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-grundfos {
    font-family: var(--logo-fonts);
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    color: var(--white);
    margin: 0vh 0px;
    margin-top: 2vh;
  }
  .logo-kollegiet {
    font-family: var(--logo-fonts);
    font-weight: lighter;
    font-size: 2vw;
    letter-spacing: 0.69vw;
    color: var(--white);
    margin: -0.5vw 0.1vw;
  }

/*events sytles*/
.eventsContent {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    flex: 1 1 auto;
    column-gap: 5vw;
}

.eventsListings {
    
    margin-left: 2vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20vw 20vw;
    column-gap: 0vw; 
    row-gap: 2vw;
    justify-items: center;
    align-items: center;
}

#eventImage1 {
    grid-column: 1;
    grid-row: 1;
}

#eventDetails1 {
    grid-column: 2;
    grid-row: 1;
}

.eventsReadMore {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 0.5vw 1vw;
}

#wholeCalendarSection {
    margin-left: 0vw;
}

#eventIdeaButton {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 0.5vw 1vw;
}


/*calendar*/
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-vnm0{background-color:#f2f2f2;border-color:#f2f2f2;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:large;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-djcx{background-color:#f2f2f2;border-color:#f2f2f2;color:#c0c0c0;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
.tg .tg-tvsr{background-color:#aacfd3;border-color:#aacfd3;text-align:center;vertical-align:top}
.tg .tg-l3ty{background-color:#ebebeb;border-color:#ebebeb;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
.tg .tg-adty{background-color:#f2f2f2;border-color:#f2f2f2;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}