h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.9vw;
  --font-size-subheading: 1.5vw;
  --font-size-bodytext: 1.2vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
}
  
  body {
    padding: 0;
    margin: 0;
  }


 #eventsWrapper {
    display: flex;
    direction: row;  
  }

/*navigation styles*/
.navigation {
    width: 22vw;
    height: 100vh;
    background-color: var(--blue);
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-grundfos {
    font-family: var(--logo-fonts);
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    color: var(--white);
    margin: 0vh 0px;
    margin-top: 2vh;
  }
  .logo-kollegiet {
    font-family: var(--logo-fonts);
    font-weight: lighter;
    font-size: 2vw;
    letter-spacing: 0.69vw;
    color: var(--white);
    margin: -0.5vw 0.1vw;
  }

  .navLogoLink {
    text-decoration: none;
  }

/*events sytles*/

.eventsContent {
  background-color: var(--white);
  width: 78vw;
  margin: 0;
  padding: 0;
}

.eventsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#eventsH1{
  display: block;
  justify-content: center;
  font-family: var(--body-fonts);
  font-size: var(--font-size-heading);
  font-weight: 500;
  letter-spacing: 0.2vw;
  text-align: center;
  flex: 1;
  margin-bottom: 1.5vw;
  }

 #eventsLink{
  text-decoration: none;
  color: #000000;
 }

.eventsSearchIcon {
  width: 2.8vw;
  margin-right: 2vw;
}

/*main part of events page*/
.eventsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 5vw;
  margin-right: 5vw;
}


/*upcoming events*/

.eventsH2 {
  font-family: var(--body-fonts);
  font-size: var(--font-size-subheading);
}

.eventListings {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.eventListing {
  display: flex;
  flex-direction: row; 
  cursor: pointer;
}

.eventListingImage {
  height: 10vw;
}

.eventDetails {
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: var(--light-grey);
  width: 15vw;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  ;
}

.eventDate {
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  text-align: center;
  padding: 0;
  margin: 0;
}

.eventH3 {
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  text-align: center;
}

.eventsReadMore {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 0.5vh 1vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8vw;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/*event idea?*/
.eventP {
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  margin-top: 9vh;
  margin-left: 6.5vw;
}

#eventIdeaButton {
  background-color: var(--white);
  color: var(--orange);
  border: solid orange 2px;
  border-radius: 50px;
  padding: 0.5vw 1vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  justify-content: center;
  margin-left: 0.8vw;
  cursor: pointer;
}


/*calendar*/

#wholeCalendarSection {
  margin-left: 5vw;
  width: 22vw;
}

.eventCalendarHeading {
  border-radius: 15px, 15px, 0px, 0px;
}

.eventsSmallCalendarArrow {
  height: 3vh;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  height: 45vh;
  width: 20vw;
  cursor: pointer;
}

.th {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.eventCircle {
  width: 25px;
  height: 25px;
  background-color: var(--light-blue);
  border-radius: 50%;
  border: none;
  }

.eventActiveDate{
  background-color:var(--light-blue);border:none; font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top;} 


.tg td{border:none;border-width:1px;font-family:Arial, sans-serif;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif; font-size: var(--font-size-bodytext); font-family: var(--body-fonts); 
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-vnm0{background-color:#f2f2f2;border-color:#f2f2f2;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:large;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-djcx{background-color:#f2f2f2;border-color:#f2f2f2;color:#c0c0c0;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
.tg .tg-tvsr{background-color:#aacfd3;border-color:#aacfd3;text-align:center;vertical-align:top}
.tg .tg-l3ty{background-color:#ebebeb;border-color:#ebebeb;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
.tg .tg-adty{background-color:#f2f2f2;border-color:#f2f2f2;color:#000000;font-family:Arial, Helvetica, sans-serif !important;
  font-size:100%;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

/*help icon*/
.main-help-icon-events {
  width: 3.5vw;
  height: auto;
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  object-fit: contain;
}

.help-section-events {
  margin-top: 85vh;
}