:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.6vw;
  --font-size-subheading: 1.5vw;
  --font-size-bodytext: 1.2vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
}

body {
  padding: 0;
  margin: 0;
}
/*LAUNDRY STYLING*/
.laundry-page {
  display: flex;
  flex-direction: row;
}
.laundry-navigation {
  width: 22vw;
  height: 100vh;
  background-color: var(--blue);
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-grundfos {
  font-family: var(--logo-fonts);
  font-size: 2.5vw;
  letter-spacing: 0.3vw;
  color: var(--white);
  margin: 0vh 0px;
  margin-top: 2vh;
}
.logo-kollegiet {
  font-family: var(--logo-fonts);
  font-weight: lighter;
  font-size: 2vw;
  letter-spacing: 0.69vw;
  color: var(--white);
  margin: -0.5vw 0.1vw;
}
.laundry-content {
  width: 78vw;
  background-color: var(white)
}

.laundry-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.laundry-heading {
  display: block;
  justify-content: center;
  font-family: var(--body-fonts);
  font-size: var(--font-size-heading);
  font-weight: 500;
  letter-spacing: 0.2vw;
  text-align: center;
  flex: 1;
  margin-bottom: 1.5vw;
}
.laundry-search-icon {
  width: 2.8vw;
  margin-right: 2vw;
}
.facility-display {
  display: flex;
  flex-direction: row;
}
.facility-list {
  width: 28vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.facility-layout {
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facility-icon {
  width: 3.6vw;
  stroke-width: 1vw;
  margin-right: -2vw;
  margin-bottom: 0.05vw;
}
.facility-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  text-decoration: none;
  color: var(--black);
  font-family: var(--body-fonts);
  font-size: 1.6vw;
  letter-spacing: 0.05vw;
  margin: 0.5vw 0vw;
  text-align: center;
  opacity: 1;
}
#facility-element1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  text-decoration: none;
  color: var(--black);
  font-family: var(--body-fonts);
  font-size: 1.6vw;
  letter-spacing: 0.05vw;
  margin: 0.5vw 0vw;
  text-align: center;
  opacity: 1;
}
#image-icon {
  fill: rgb(0, 0, 0);
  width: 4vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 0vw;
}
.room-button {
  background-color: var(--orange);
  color: var(--white);
  opacity: 1;
  border: none;
  border-radius: 3vw;
  width: 6.6vw;
  height: 2.5vw;
  font-family: var(--body-fonts);
  font-size: 1.7vw;
  margin-left: 1.5vw;
}

#room-button1 {
  background-color: var(--orange);
  color: var(--white);
  opacity: 1;
  border: none;
  border-radius: 3vw;
  width: 6.6vw;
  height: 2.5vw;
  font-family: var(--body-fonts);
  font-size: 1.7vw;
  margin-left: 1.5vw;
}

.room-button:hover {
  cursor: pointer;
}

.facility-click {
  text-decoration: none;
  color: var(--black);
  font-family: var(--body-fonts);
  font-size: 1.6vw;
  letter-spacing: 0.05vw;
  margin: 0.5vw 0vw;
  text-align: center;
}
.align-facility {
  font-weight: light;
  margin-left: 1.8vw;
}
.svg-container {
  width: 3.6vw;
  height: auto;
  margin-right: -2vw;
}

.building-layout {
  width: 22vw;
}
