:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.6vw;
  --font-size-subheading: 1.5vw;
  --font-size-bodytext: 1.2vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
}

body {
  padding: 0;
  margin: 0;
  scrollbar-gutter: stable;
}

/*HELP STYLING*/
#help-page {
  display: flex;
  flex-direction: row;
}

/*NAVIGATION*/

.main-navigation {
  width: 22vw;
  height: 100vh;
  background-color: var(--blue);
  margin-top: 0vw;
  padding-top: 0.5vw 1vw 0vw 0vw;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.navigation-dateandtime {
  font-family: var(--body-fonts);
  font-size: 1vw;
  color: var(--black);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.6vw;
  margin-right: 1.6vw;
}

.logo-grundfos {
  width: 22vw;
  height: auto;
  margin-top: 1vh;
}

.logo-grundfos-link {
  text-decoration: none;
}

.navigation-links {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  margin-left: 3.5vw;
  margin-top: auto;
  margin-bottom: auto;
  top: 10vw;
  font-family: var(--body-fonts);
  line-height: 4vw;
  color: var(--light-grey);
}

.nav-link {
  color: var(--light-grey);
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
  font-size: 1.6vw;
  font-weight: bolder;
}

.navigation-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5vh;
}

.navigation-qr-code-description {
  font-family: var(--body-fonts);
  color: var(--light-grey);
  font-size: 0.99vw;
  line-height: 0vw;
}

.navigation-qr-code-image {
  width: 35%;
  height: 80%;
}

.help-content {
  margin-left: 22vw;
  width: 78vw;
  background-color: (var(--white));
  z-index: 1;
  filter: blur(none);
  position: relative;
  visibility: visible;
}

.help-main-heading {
  display: block;
  margin-left:31vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-heading);
  font-weight: 500;
  letter-spacing: 0.2vw;
  flex: 1;
  margin-bottom: 1.5vw;
  margin-top:3vw;
}

.help-search-button {
  position: fixed;
  margin-left: 95vw;
  margin-top: 3vw;
  width: 2.8vw;
  height: auto;
  background-color: white;
  border: none;
  z-index: 3;
  visibility: visible;
}

.search-content {
  display: flex;
  position: fixed;
  width: 78vw;
  z-index: 1;
  visibility: hidden;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--light-grey);
  border-radius: 10px;
  margin-top: 3vw;
  margin-right: 2vw;
  margin-left: 73vw;
  width: 25vw;
  height: 3vw;
  padding-left: 1.2vw;
  position: absolute;
  color: black;
  border: none;
  z-index: 3;
  visibility: hidden;
}

.search-bar-icon {
  margin-top: 0.4vw;
  width: 1.9vw;
  padding-right: 0.8vw;
  position: relative;
  z-index: 3;
}

.search-bar-text {
  margin-top: 0.5vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
}

.help-keyboard {
  position: absolute;
  width: 67vw;
  height: auto;
  z-index: 2;
  margin-left: 27.5vw;
  margin-top: 22vw;
  visibility: hidden;
  z-index: 3;
}

.help-link-list {
  display: flex;
  flex-direction: column;
  margin-left: 11vw;
  margin-top: 4vw;
  row-gap: 1vw;
  flex: 1;
  z-index: 1;
  filter: blur(none);
  position: relative;
}

.help-heading {
  visibility: visible;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 3.5vw;
  border-radius: 10px;
  background-color: var(--light-blue);
  border-style: none;
  text-align: left;
  font-weight: 500;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.8vw;
  font-family: var(--body-fonts);
  font-size: 1.5vw;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.3vw;
  margin-top: 0.5vw;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.help-link {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

.help-description {
  width: 46vw;
  background-color: var(--light-grey);
  padding: 1vw 2vw 2vw 2vw;
  margin-top: 0vw;
  border-radius: 0px 0px 10px 10px;
  font-size: var(--font-size-bodytext);
  font-family: var(--body-fonts);
  display: none;
}

.help-contact-ct-container {
  margin-left: 11vw;
  margin-top: 2vw;
}

.help-contact-ct-heading {
  font-size: var(--font-size-subheading);
  font-family: var(--body-fonts);
}

.help-contact-ct-content {
  width: 25vw;
  height: 10vw;
  background-color: var(--light-grey);
  border-radius: 15px;
  padding-top: 0.5vw;
  padding-left: 1vw;
}

.help-contact-subheading {
  font-size: var(--font-size-bodytext);
  font-family: var(--body-fonts);
  text-align: center;
}

.help-contact-text {
  font-size: var(--font-size-bodytext);
  font-family: var(--body-fonts);
  padding-left: 4.5vw;
}

.help-help-icon {
  width: 3.4vw;
  position: fixed;
  margin-top: 42vw;
  margin-left: 73vw;
}
