:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.9vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
}

body {
  padding: 0;
  margin: 0;
}


.main-navigation {
    width: 22vw;
    height: 100vh;
    background-color: var(--blue);
    margin-top: 0vw;
    padding-top: 0.5vw 1vw 0vw 0vw;
    display: flex;
    flex-direction: column;
    position: fixed;
  }

  .navigation-dateandtime {
    font-family: var(--body-fonts);
    font-size: 1vw;
    color: var(--black);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5vw;
    margin-right:2.5vw;
  }

  .main-logo

  .logo-grundfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--logo-fonts);
    font-size: 1.95vw;
    font-weight: bold;
    letter-spacing: 0.5vw;
    text-decoration: none;
    color: var(--white);
    margin: 0vh 0px;
    margin-top: 1vw;
  }

.logo-grundfos-link {
  text-decoration: none;
}

  .logo-kollegiet {
    display: flex;
    flex-direction: column;
    font-family: var(--logo-fonts);
    font-weight: lighter;
    font-size: 2.45vw;
    letter-spacing: 0.22vw;
    color: var(--white);
    margin: 0vw 0.1vw;
    margin-left: 3.5vw;
  }

.logo-kollegiet-link {
  text-decoration: none;
}

.navigation-links {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  margin-left: 3.5vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  top: 10vw;
  font-family: var(--body-fonts);
  line-height: 4vw;
  color:var(--light-grey)
}

.nav-link {
  color: var(--light-grey);
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  text-decoration:none;
  font-size: 1.6vw;
  font-weight: bolder;
}

.navigation-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0vw;
}

.navigation-qr-code-description {
font-family: var(--body-fonts);
color:var(--light-grey);
font-size: 0.99vw;
line-height: 0vw;
}

.navigation-qr-code-image {
  width: 35%;
  height: auto;
}