:root {
  --blue: #10828c;
  --orange: #eba10c;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #efefef;
  --light-blue: #aacfd3;
  --light-orange: rgba(235, 161, 12, 0.75);
  --medium-blue: #4ca1a9;
  --dark-grey: #676464;
  --body-fonts: "Roboto";
  --logo-fonts: "Sansation", sans-serif;
  --font-size-heading: 2.9vw;
  --font-size-subheading: 1.5vw;
  --font-size-bodytext: 1.2vw;
  --font-size-nav: 50px;
  --font-size-nav-active: 60px;
}
  
  body {
    padding: 0;
    margin: 0;
  }

#newsWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex: 1 1 auto;
}

/*navigation styles*/
.navigation {
    width: 22vw;
    height: 100vh;
    background-color: var(--blue);
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    position: sticky; /*- makes news content disappear beind the nav bar...*/
  
  }
  .logo-grundfos {
    font-family: var(--logo-fonts);
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
    color: var(--white);
    margin: 0vh 0px;
    margin-top: 2vh;
  }
  .logo-kollegiet {
    font-family: var(--logo-fonts);
    font-weight: lighter;
    font-size: 2vw;
    letter-spacing: 0.69vw;
    color: var(--white);
    margin: -0.5vw 0.1vw;
  }
  
  /*news styles*/

 .newsContent {
   background-color: var(--white);
   max-width: 78vw;
   margin: 0;
   padding: 0;
  }

.newsH1 {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: var(--body-fonts);
  font-size: var(--font-size-heading);
  font-weight: 500;
  letter-spacing: 0.2vw;
  text-align: center;
}

      /*icons*/
  #newsIconsContainer {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 70vw;
    margin-left: 4.5vw;
  }
    
  .newsIconImage {
    justify-content: center; /*doesn't work*/
    max-width: 3vw;
    padding: 0;
    margin: 0;
  }

  .newsIconLabel {
    justify-content: center; /*doesn't work*/
    font-family: var(--body-fonts);
  }

.newsFigure {
  justify-content: center;
}
  
    /*articles*/
  #newsArticleContainer {
    margin-left: 16.5vw;
    margin-top: 2vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3.5vw 40vw;
    gap: 1.5vw 0vw;
    justify-items: center; 
    align-items: center;
        
  }
  
  .newsArticleIcon{
    padding: 1vw;
    border: 2px solid var(--light-grey);
    border-radius: 15px 0px 0px 15px;
    background-color: var(--light-blue);
    height: 4vw;
  }

  .newsArticle {  /*contains heading, date and desription*/
  padding-left: 2vw;
  border: 2px solid var(--light-grey);
  border-radius: 0px 15px 15px 0px;
  background-color: var(--light-grey);
}

.newsHeader {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--body-fonts);
    font-size: var(--font-size-bodytext);
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
 
   
}

newsH3 {
  margin-top: 0 vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
}

.newsDate {
  padding-right: 1vw;  
  margin-left: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: .5vw;
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
}

.newsDescription {
  font-family: var(--body-fonts);
  font-size: var(--font-size-bodytext);
  margin-top: 0;
  padding-top: 0;
  padding-right: 1vw;
}

