h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }

  *,
*::before,
*::after{box-sizing:border-box;}


:root {
    --blue: #10828c;
    --orange: #eba10c;
    --white: #ffffff;
    --black: #000000;
    --light-grey: #efefef;
    --light-blue: #aacfd3;
    --light-orange: rgba(235, 161, 12, 0.75);
    --medium-blue: #4ca1a9;
    --dark-grey: #676464;
    --body-fonts: "Roboto";
    --logo-fonts: "Sansation", sans-serif;
    --font-size-heading: 2.9vw;
    --font-size-subheading: 1.5vw;
    --font-size-bodytext: 1.2vw;
    --font-size-nav: 50px;
    --font-size-nav-active: 60px;
  }
    
    body {
      padding: 0;
      margin: 0;
    }
  
  #newsWrapper {
      display: flex;
      direction: row;
  }
  
  /*navigation styles*/
  .navigation {
      width: 22vw;
      height: 100vh;
      background-color: var(--blue);
      margin-top: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      position: sticky; /*- makes news content disappear beind the nav bar...*/
    
    }
    .logo-grundfos {
      font-family: var(--logo-fonts);
      font-size: 2.5vw;
      letter-spacing: 0.3vw;
      color: var(--white);
      margin: 0vh 0px;
      margin-top: 2vh;
    }
    .logo-kollegiet {
      font-family: var(--logo-fonts);
      font-weight: lighter;
      font-size: 2vw;
      letter-spacing: 0.69vw;
      color: var(--white);
      margin: -0.5vw 0.1vw;
    }
    
    /*news styles*/
  
   .newsContent {
     background-color: var(--white);
     width: 78vw;
     margin: 0;
     padding: 0;
    }
  
  .newsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .newsH1 {
    display: block;
    justify-content: center;
    font-family: var(--body-fonts);
    font-size: var(--font-size-heading);
    font-weight: 500;
    letter-spacing: 0.2vw;
    text-align: center;
    flex: 1;
    margin-bottom: 1.5vw;
  }

  .newsSearchIcon {
    width: 2.8vw;
    margin-right: 2vw;
  }
  
        /*icons*/
    #newsIconsContainer {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 78vw;
      padding: 0;
      margin: 0;
      flex: 1;
     
    }

    .newsIcon {
      cursor: pointer;
      align-items: center;
    }
      
    .newsIconImage {
      justify-content: center;
      max-width: 3vw;
      margin: auto;
      display: block;
    }
  
    .newsIconLabel {
      justify-content: center; 
      font-family: var(--body-fonts);
    }
  
  .newsFigure {
    justify-content: center;
  }
    
      /*articles*/
    #newsArticleContainer {
      margin-top: 2vh;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-items: center; 
      align-items: center;
      row-gap: 2vw;
      margin-bottom: 4vw;     
    }

    .newsArticle {
        display: flex;
        justify-items: center;
        align-items: center;
            }
    
    .newsArticleIcon {
      padding: 1vw;
      border: 2px solid var(--light-grey);
      border-radius: 15px 0px 0px 15px;
      background-color: var(--light-blue);
      height: 6vw;
    }
  
    .newsText {  /*contains heading, date and desription*/
    padding-left: 1vw;
    border: 2px solid var(--light-grey);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--light-grey);
    height: 6vw;
    width: 45vw;
  }
  
  .newsHeader {
      display: flex;
      flex-wrap: wrap;
      font-family: var(--body-fonts);
      font-size: var(--font-size-bodytext);
      margin-bottom: 0;
      padding-bottom: 0;
      align-items: center;
   
     
  }
  
  newsH3 {
    margin-top: 0 vw;
    font-family: var(--body-fonts);
    font-size: var(--font-size-bodytext);
  }
  
  .newsDate {
    padding-right: 1vw;  
    margin-left: auto;
    margin-bottom: .5vw;
    padding-bottom: 0;
    margin-top: .5vw;
    font-family: var(--body-fonts);
    font-size: var(--font-size-bodytext);
  }
  
  .newsDescription {
    font-family: var(--body-fonts);
    font-size: var(--font-size-bodytext);
    margin-top: 0;
    padding-top: 0;
    padding-right: 1vw;
    padding-bottom: 1vw;
  }
  
  .hidden {
    display: none;
  }